<div id="upper-section-container">
    <div>
        <h1 id="title">Buy a New Shoes</h1>
        <div id="sentence">Take the time to be sure that the css you try to do is the hardest thing ever</div>
        <div class="button-style-hovering buy-now-button" (click)="changeRoute()"> Buy Now</div>
    </div>
    <div id="imgContainer">
        <img class="img" src="../../../assets/items/adidas_yeezy_350_bred.png">
        <div id="model"> adidas yeezy 350 bred </div>
    </div>
</div>
<div id="topPicks">
<app-top-picks></app-top-picks>
</div>